.app-font {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;	
}

.background {
    -fx-background-color: #352D39;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFCF9;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFCF9;
    -fx-opacity: 1;
}

.round-button{
    -fx-background-color: #FFFCF9;
    -fx-background-radius: 50%;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);

}

.round-button-clicked{
    -fx-background-color: #B1EDE8;
    -fx-background-radius: 50%;
    -fx-padding: 15 30 15 30;
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);

}